{% extends 'admin-panel\public\base.html' %}

{% block main %}

<div class="container">
        <h1># : {{ article.id }}</h1>
        <hr>
        <h1>title : {{ article.title }}</h1>
        <hr>
        <h1> body : {{ article.body }}</h1>
        <hr>
        <h1>status :
        {% if article.status == 'e' %}
            Enable
        {% else %}
            Disable
        {% endif %}
        </h1>
        <hr>
        <h1>create : {{ article.created_at }}</h1>
        <hr>
        <h1>update :
            {% if article.updated_at == article.created_at %}
                No Updated
            {% else %}
                {{ article.updated_at }}
            {% endif %}
        </h1>
        <hr>
    <h1 class="text-center"> image </h1>
    <a href="{{ article.image.url }}" target="_blank" title="click for show image"><img class="img-thumbnail" style="margin-left: 100px" src="{{ article.image.url }}" width="80%" alt=""></a>
</div>

{% endblock %}